
.cr{
    display: grid;
    grid-template-columns: auto auto auto auto ;
    row-gap: 20px;
    column-gap: 5px;
}
.form {
    display: grid;
    grid-template-columns: 285px 250px;
    column-gap: 90px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.dropdown div{
    width: 250px;
}
body{
    margin-left: 15px;
}
select{
    margin-right: 139px;
    width: 250px;
    height:38px;
}
